{% extends 'base.html.twig' %}

{% block title %}Liste des ingrédients{% endblock %}

{% block content %}
    <h1 class="display-6">Liste des ingrédients</h1>

    <div>
        <a class="btn btn-primary" href="{{ path('app_ingredient_new') }}" role="button">Nouvel ingrédient</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Conservation</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.whereToKeepLabel }}</td>
                <td>
                    <a href="{{ path('app_ingredient_show', {'id': ingredient.id}) }}">show</a>
                    <a href="{{ path('app_ingredient_edit', {'id': ingredient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun ingrédient trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
