{% extends 'base.html.twig' %}

{% block title %}Ingrédient{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1 class="display-6">Ingrédient</h1>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">Nom :</dt>
                <dd class="col-sm-10">{{ ingredient.name }}</dd>

                <dt class="col-sm-2">Catégorie :</dt>
                <dd class="col-sm-10">{{ ingredient.category.name }}</dd>

                <dt class="col-sm-2">Tags :</dt>
                <dd class="col-sm-10">
                    {% for tag in ingredient.tags %}
                        <span class="badge bg-secondary fs-6 fw-normal">{{ tag.name }}</span>
                    {% else %}
                        <span class="badge text-bg-light">Aucun</span>
                    {% endfor %}
                </dd>

                <dt class="col-sm-2">Conservation :</dt>
                <dd class="col-sm-10">
                    {% if ingredient.whereToKeepLabel  %}
                        {{ ingredient.whereToKeepLabel }}
                    {% else %}
                        <span class="badge text-bg-light">Inconnue</span>
                    {% endif %}
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary"
               href="{{ path('app_ingredient_edit', {'id': ingredient.id}) }}"
               role="button"
            >Modifier</a>

            {% set referer = app.request.headers.get('referer')|default(path('app_ingredient_index')) %}
            <a class="btn btn-secondary" href="{{ referer }}" role="button">Retour</a>
        </div>
    </div>
{% endblock %}
