{{ form_start(form) }}
<div class="card">
    <div class="card-header">
        <h1 class="display-6">{{ title }}</h1>
    </div>
    <div class="card-body">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}

        {{ form_label(form.positionEnum) }}

        <div class="row align-items-center">
            <div class="col-auto pe-0">
                {{ form_widget(form.positionEnum) }}
            </div>
            <div class="col-auto ps-0">
                {{ form_label(form.beforeCategory) }}
                {{ form_widget(form.beforeCategory) }}
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                {{ form_errors(form.positionEnum) }}
                {{ form_errors(form.beforeCategory) }}
            </div>
        </div>
    </div>
    <div class="card-footer">
        {{ form_widget(form.save, {'label': submit_label}) }}
        <a class="btn btn-secondary" href="{{ path('app_ingredient_category_index') }}" role="button">Retour</a>
    </div>
</div>
{{ form_end(form) }}
