{% import _self as formMacros %}

{% macro printRecipeIngredientRow(recipeIngredient) %}
    <div class="col-7 pe-1">{{ form_row(recipeIngredient.ingredient) }}</div>
    <div class="col-1 px-1">
        <div class="d-grid">
            <button type="button" class="btn btn-danger btn-sm subformDeleteButton">Supprimer</button>
        </div>
    </div>
{% endmacro %}

{% macro printRecipeStepRow(recipeStep) %}
    <div class="col-2 pe-1 align-self-start">{{ form_row(recipeStep.title) }}</div>
    <div class="col-5 px-1">{{ form_row(recipeStep.description) }}</div>
    <div class="col-1 px-1 my-1 align-self-end">
        <div class="d-grid">
            <button type="button" class="btn btn-danger btn-sm subformDeleteButton">Supprimer</button>
        </div>
    </div>
{% endmacro %}

{{ form_start(form) }}
<div class="card">
    <div class="card-header">
        <h1 class="display-6">{{ title }}</h1>
    </div>
    <div class="card-body">
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
    </div>
    <div class="card-body ingredients">
        <div class="row align-items-center">
            <div class="col-8 pe-1">Ingrédients</div>
        </div>

        <div
            data-index="{{ form.recipeIngredients|length > 0 ? form.recipeIngredients|last.vars.name + 1 : 0 }}"
            data-prototype="{{ formMacros.printRecipeIngredientRow(form.recipeIngredients.vars.prototype)|e('html_attr') }}"
            class="recipeIngredients subformItems mb-2"
        >
            {% for recipeIngredient in form.recipeIngredients %}
                <div class="row align-items-center subformItem">
                    {{ formMacros.printRecipeIngredientRow(recipeIngredient) }}
                </div>
            {% endfor %}
        </div>

        <div class="d-grid col-8">
            <button type="button" class="btn btn-sm btn-secondary add_item_link"
                    data-collection-holder-class="recipeIngredients">
                Ajouter un ingrédient
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-2 pe-1">Titre de l'étape (optionnel)</div>
            <div class="col-5 px-1">Description de l'étape</div>
        </div>

        <div
                data-index="{{ form.recipeSteps|length > 0 ? form.recipeSteps|last.vars.name + 1 : 0 }}"
                data-prototype="{{ formMacros.printRecipeStepRow(form.recipeSteps.vars.prototype)|e('html_attr') }}"
                class="recipeSteps subformItems mb-2"
        >
            {% for recipeStep in form.recipeSteps %}
                <div class="row subformItem">
                    {{ formMacros.printRecipeStepRow(recipeStep) }}
                </div>
            {% endfor %}
        </div>

        <div class="d-grid col-8">
            <button type="button" class="btn btn-sm btn-secondary add_item_link"
                    data-collection-holder-class="recipeSteps">
                Ajouter une étape
            </button>
        </div>
    </div>
    <div class="card-footer">
        {{ form_widget(form.save, {'label': submit_label}) }}
        <a class="btn btn-secondary" href="{{ path('app_recipe_index') }}" role="button">Retour</a>
    </div>
</div>
{{ form_end(form) }}
