{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1 class="display-6">Recette : {{ recipe.title }}</h1>
        </div>

        <div class="card-body">
            <p class="mb-0">Pour {{ recipe.defaultPortionNumber }} portion{{ recipe.defaultPortionNumber > 1 ? 's' : '' }} :</p>
        </div>

        <div class="card-body ingredients">
            <ul class="mb-0">
            {% for recipeIngredient in recipe.recipeIngredients %}
                <li>
                    {{ recipeIngredient.ingredient.name }}
                    {% if recipeIngredient.quantityNumber is not null %}
                        -
                        <strong>
                            {{ recipeIngredient.quantityNumber|format_number }}
                            {% if recipeIngredient.quantityType is not null %}
                                {%
                                    if recipeIngredient.quantityNumber > 1
                                    and recipeIngredient.quantityType.pluralName is not null
                                %}
                                    {{ recipeIngredient.quantityType.pluralName }}
                                {% else %}
                                    {{ recipeIngredient.quantityType.name }}
                                {% endif %}
                            {% endif %}
                        </strong>
                    {% endif %}
                    {% if recipeIngredient.comment is not null %}
                        - {{ recipeIngredient.comment }}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>

        <div class="card-body steps">
            {% for recipeStep in recipe.recipeSteps %}
                <h2 class="fs-3 pb-1 mt-3">{{ loop.index }}. {{ recipeStep.title }}</h2>
                <p>{{ recipeStep.description|nl2br }}</p>
            {% endfor %}
        </div>

        <div class="card-footer">
            <a class="btn btn-primary"
               href="{{ path('app_recipe_edit', {'id': recipe.id}) }}"
               role="button"
            >Modifier</a>

            {% set referer = app.request.headers.get('referer')|default(path('app_recipe_index')) %}
            <a class="btn btn-secondary" href="{{ referer }}" role="button">Retour</a>
        </div>
    </div>
{% endblock %}
