{% set current_route = app.request.attributes.get('_route') %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Cuisiner au quotidien</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Ouvrir/Fermer le menu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ current_route == 'app_recipe_index' ? 'active' : '' }}"
                       href="{{ path('app_recipe_index') }}"
                            {{ current_route == 'app_recipe_index' ? 'aria-current="page"' : '' }}
                    >
                        Recettes
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {{ current_route starts with 'app_ingredient' ? 'active' : '' }}"
                       href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ingrédients
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item {{ current_route == 'app_ingredient_index' ? 'active' : '' }}"
                               href="{{ path('app_ingredient_index') }}"
                                    {{ current_route == 'app_ingredient_index' ? 'aria-current="page"' : '' }}
                            >
                                Ingrédients
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item {{ current_route == 'app_ingredient_category_index' ? 'active' : '' }}"
                               href="{{ path('app_ingredient_category_index') }}"
                                    {{ current_route == 'app_ingredient_category_index' ? 'aria-current="page"' : '' }}
                            >
                                Catégories
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item {{ current_route == 'app_ingredient_tag_index' ? 'active' : '' }}"
                               href="{{ path('app_ingredient_tag_index') }}"
                                    {{ current_route == 'app_ingredient_tag_index' ? 'aria-current="page"' : '' }}
                            >
                                Tags
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
